.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,.12);
}

::ng-deep .mat-card-header-text {
margin: 0;
}

.mcard{
margin-left: 5px;
margin-top: 5px;
}

.card {
  margin-bottom: 1%;
}