<div class="mcard" fxLayout="column">
  <h5 *ngIf="saleInvoiceForm && SaleInvoice">Sale invoice </h5>

  <form fxLayout="column"  #invoiceForm *ngIf="saleInvoiceForm && SaleInvoice" [formGroup]="saleInvoiceForm" (ngSubmit)="onUpdate()">
    <ng-template *ngIf="!editMode">
      <input matInput formControlName="id">
    </ng-template>
    <div  fxLayout="row"  fxFill fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="32">
        <input matInput placeholder="Visitor" formControlName="visitorId">
        <mat-error *ngIf="saleInvoiceForm.controls['visitorId'].hasError('required')">
          Visitor is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="32">
        <input matInput placeholder="Total" formControlName="total">
        <mat-error *ngIf="saleInvoiceForm.controls['total'].hasError('required')">
          Total is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div  fxLayout="row"  fxFill fxLayoutAlign="space-between center">
      <mat-form-field>
        <input matInput [matDatepicker]="openedAt"  placeholder="Opened at" formControlName="openedAt">
        <mat-datepicker-toggle matSuffix [for]="openedAt">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #openedAt></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="closedAt"  placeholder="Closed at" formControlName="closedAt">
        <mat-datepicker-toggle matSuffix [for]="closedAt">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #closedAt></mat-datepicker>
      </mat-form-field>
    </div>
  </form>

  <div class="buttons-container" fxLayout="column">
      <div  class="buttons" *ngIf="show" fxLayout="column" >
          <div class="mat-fab-div"  (click)=" show = !show; saveInvoice() " fxFlex="32">
              <button form="ngForm" color="primary" mat-mini-fab aria-label="Save">
                <mat-icon>save</mat-icon>
              </button>
          </div>
          <div class="mat-fab-div" (click)=" show = !show; closeInvoice() " fxFlex="32">
            <button mat-mini-fab  aria-label="Close">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      <button mat-fab color="primary" [disabled]="closed" (click)=" show = !show "><mat-icon aria-label="Options">more_vert</mat-icon></button>
    </div>
  <div *ngIf="editMode">
    <div  fxLayout="row" fxFill *ngIf="itemsForm && items">
      <div fxFlex="98"><h5>Items</h5></div>
      <div>  

      </div>
    </div>
    <form fxLayout="column" *ngIf="searchItemsForm && searchItems" [formGroup]="searchItemsForm">
      <div  formArrayName="searchItems" fxLayout="row wrap" fxLayout.sm="column" fxLayoutGap="1%" fxLayoutWrap fxLayoutAlign="start center" fxLayoutAlign.sm="center"   >
        <mat-card class="card" fxFlex="99" fxFlex.xs="100" 
        *ngFor="let itemCtrl of searchItemsForm.get('searchItems').controls; let i = index"
        [formGroupName]="i">
            <mat-card-header fxLayout="row">
                <div  fxLayout="row" fxFlex="70">
                    <div mat-card-avatar [ngStyle]="{'background-image':'url(/assets/images/items/'+searchItems[i].image+')'}" style="background-size: cover;"></div>
                    <div fxLayout="column"> 
                        <mat-card-title>{{searchItems[i].name}} </mat-card-title>
                        <mat-card-subtitle>{{searchItems[i].sellingPrice}}&#x24;</mat-card-subtitle>
                    </div>
                </div>
                <div fxLayout="column" fxFlex fxLayoutAlign.sm="end center">
                  <div fxLayout="row">
                    <input hidden matInput formControlName="quantity">
                    <input hidden matInput formControlName="itemId">
                    <input hidden matInput formControlName="salesInvoiceId">
                    <div [ngSwitch]="itemCtrl.value.quantity">
                        <ng-template ngSwitchCase="0">
                            <button mat-mini-fab color="accent" style="margin-left: 43px;" [matBadge]="itemCtrl.value.quantity" matBadgePosition="after" matBadgeColor="primary" (click)="clearSearch(itemCtrl.value, i)">Clear</button>
                        </ng-template>
                        <ng-template ngSwitchDefault>
                            <button mat-icon-button (click)="changeQuantity(itemCtrl.value, i,false)"><mat-icon aria-label="Add one">chevron_left</mat-icon></button>
                            <button mat-mini-fab color="primary"  [matBadge]="itemCtrl.value.quantity" matBadgePosition="after" matBadgeColor="accent" (click)="addItem(itemCtrl.value, i)">Add</button>
                            <button mat-icon-button (click)="changeQuantity(itemCtrl.value, i, true)"><mat-icon aria-label="Delete one">chevron_right</mat-icon></button>                         
                        </ng-template>
                    </div>
                  </div>
                </div>
            </mat-card-header>
            <mat-card-actions fxLayout="row">
                <div fxFlex="70">
                      
                </div>
                <div fxFlex>
                  <div fxLayout="column" fxFlex fxLayoutAlign.sm="end center">
                    
                  </div>
                </div>
            </mat-card-actions>
        </mat-card>
      </div>
  </form>
    <form fxLayout="column" *ngIf="itemsForm && items" [formGroup]="itemsForm">
      <div  formArrayName="items" fxLayout="row wrap" fxLayout.sm="column" fxLayoutGap="1%" fxLayoutWrap fxLayoutAlign="start center" fxLayoutAlign.sm="center"   >
        <mat-card class="card" fxFlex="49" fxFlex.xs="100" 
        *ngFor="let itemCtrl of itemsForm.get('items').controls; let i = index"
        [formGroupName]="i">
            <mat-card-header fxLayout="row">
                <div  fxLayout="row" fxFlex="70">
                    <div mat-card-avatar [ngStyle]="{'background-image':'url(/assets/images/items/'+items[i].item.image+')'}" style="background-size: cover;"></div>
                    <div fxLayout="column"> 
                        <mat-card-title>{{items[i].item.name}} </mat-card-title>
                        <mat-card-subtitle>{{items[i].quantity}} x {{items[i].sellingPrice}} = {{items[i].sellingPrice * items[i].quantity}}&#x24;</mat-card-subtitle>
                    </div>
                </div>
                <!-- <div fxLayout="column" fxFlex fxLayoutAlign.sm="end center">
                    <mat-card-subtitle>{{item.quantity}} {{item.unit}}</mat-card-subtitle>
                </div> -->
            </mat-card-header>
            <mat-card-actions fxLayout="row">
                <div fxFlex="70">
                      
                </div>
                <div fxFlex>
                    <!-- <mat-form-field >
                        <input matInput formControlName="recipeQuantity" (focusout)="onUpdateIngredient(ingredientCtrl.value, i)">
                        <span matSuffix>{{ingredients[i].ingredient.unit}}</span>
                      </mat-form-field> -->
                </div>
            </mat-card-actions>
        </mat-card>
      </div>
  </form>
  </div>
</div>


