<div class="mcard" fxLayout="column">
  <h5 *ngIf="purchaseInvoiceForm && PurchaseInvoice">Purchase invoice </h5>

  <form fxLayout="column" *ngIf="purchaseInvoiceForm && PurchaseInvoice" [formGroup]="purchaseInvoiceForm" (ngSubmit)="onUpdate()">
    <ng-template *ngIf="!editMode">
      <input matInput formControlName="id">
    </ng-template>
    <div  fxLayout="row"  fxFill fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="32">
        <input matInput placeholder="Supplier" formControlName="supplierId">
        <mat-error *ngIf="purchaseInvoiceForm.controls['supplierId'].hasError('required')">
          Supplier is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="32">
        <input matInput placeholder="Total" formControlName="total">
        <mat-error *ngIf="purchaseInvoiceForm.controls['total'].hasError('required')">
          Total is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="date"  placeholder="Date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="date">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
        <mat-error *ngIf="purchaseInvoiceForm.controls['date'].hasError('required')">
          Date is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </div>
    <!-- <div *ngIf="!editMode" style="position: fixed; bottom: 10px; right: 10px;">
      <button  mat-fab color="primary" type="submit"><mat-icon aria-label="Save">save</mat-icon></button>
    </div> -->
  </form>

  <div class="buttons-container" fxLayout="column">
      <div  class="buttons" *ngIf="show" fxLayout="column" >
          <div class="mat-fab-div"  (click)=" show = !show; onUpdate() " fxFlex="32">
              <button form="ngForm" color="primary" mat-mini-fab aria-label="Save">
                <mat-icon>save</mat-icon>
              </button>
          </div>
          <div class="mat-fab-div" (click)=" show = !show; onProfile() " fxFlex="32">
              <button mat-mini-fab  aria-label="Profile">
                <mat-icon>archive</mat-icon>
              </button>
            </div>
        </div>
      <button mat-fab color="primary" [disabled]="profiled" (click)=" show = !show "><mat-icon aria-label="Options">more_vert</mat-icon></button>
    </div>

  <!-- <div *ngIf="!profiled && editMode" style="position: fixed; bottom: 10px; right: 10px;">
    <button  mat-fab color="primary" (click)="openDialog()"><mat-icon aria-label="Save">save</mat-icon></button>
  </div> -->

  <div *ngIf="editMode">
    <div  fxLayout="row" fxFill *ngIf="itemsForm && items">
      <div fxFlex="98"><h5>Items</h5></div>

    </div>
    <form fxLayout="column" *ngIf="itemsForm && items" [formGroup]="itemsForm">
    <div formArrayName="items">
      <div fxLayout="row" fxFill fxLayoutAlign="space-between"
        *ngFor="let itemCtrl of itemsForm.get('items').controls; let i = index"
        [formGroupName]="i">
        <div fxFlex="30">  
          <p>{{items[i].item.name}}</p>
        </div>
          <input hidden matInput formControlName="id">
          <input hidden matInput formControlName="itemId">
          <input hidden matInput formControlName="purchaseInvoiceId">
          <mat-form-field fxFlex="10">
            <input matInput placeholder="Quantity" formControlName="quantity" (focusout)="onUpdateItem(itemCtrl.getRawValue(), i)" (keyup)="onCountTotal(itemCtrl.getRawValue(), i)">
            <span matSuffix>{{items[i].item.unit}}</span>
          </mat-form-field>
          <mat-form-field fxFlex="10">
            <input matInput formControlName="purchasePrice" (focusout)="onUpdateItem(itemCtrl.getRawValue(), i)" (keyup)="onCountTotal(itemCtrl.getRawValue(), i)">
            <span matSuffix>&#x24;</span>
          </mat-form-field>
          <mat-form-field fxFlex="10">
            <input matInput formControlName="total">
            <span matSuffix>&#x24;</span>
          </mat-form-field>          
      </div>
    </div>
  </form>
  </div>
</div>