<div fxLayout="row" style="min-width: 100%; min-height: 100vh">
  <mat-toolbar fxLayout="row" color="primary" class="mat-toolbar">
    <button fxFlex="5" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex="13" >
      <h1>Bot.legger : {{role}}</h1>
    </div>
    <div fxFlex="78" >            
      <mat-form-field *ngIf="searchPossible$ | async" style="width: 400px; margin-left: 122px;">
        <input matInput type="text" style="width: 400px;" [(ngModel)]="searchValue" autocomplete="off"  (keyup)="searchInput.next($event);">
        <mat-icon matSuffix class="suffix">search</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item routerLink="/signout">Sign out</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container  style="min-width: 100%; margin-top: 64px;" >
    <mat-sidenav   #snav [opened]="isOpen" [mode]="mode" style="min-height:100vh; min-width: 200px;" [fixedInViewport]="true" [fixedTopGap]="64"
    [fixedBottomGap]="10">
    <mat-accordion [ngSwitch]="role">
      <ng-container *ngSwitchCase= "'admin'">
        <mat-expansion-panel  [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title >
              Items
            </mat-panel-title>
          </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/admin/item">Item</a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sales
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/admin/purchase">Purchase Invoice</a>
            <a mat-list-item routerLink="/admin/sale">Sales Invoice</a>
            <a mat-list-item routerLink="/admin/sale/order">Orders List</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngSwitchCase= "'waiter'">
      <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title >
              Sales
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/waiter/sale">Sales</a>
            <a mat-list-item routerLink="/waiter/sale/order">Orders</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngSwitchCase= "'chef'">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chef
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/chef/sale/order">Orders</a>
            </mat-nav-list>
          </mat-expansion-panel>
      </ng-container>
      <ng-container *ngSwitchCase= "'barman'">
          <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Barman
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="/barman/sale/order">Orders</a>
              </mat-nav-list>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="row">
      <div fxFlex="75" fxFlex.lt-md="100" fxFill style="min-height: 100vh;">
        <router-outlet></router-outlet>
      </div>
      <div fxFlex fxShow.lt-md="false" fxFill style="min-height: 100vh; background-color: white;">
        <div [ngSwitch]="role" class="activities">
            <ng-container *ngSwitchCase= "'admin'">
              <mat-nav-list>
                  <a mat-list-item routerLink="/admin/sale/order/new/show" > <span [matBadge]="newOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" matBadgeSize="medium" >New orders</span>  </a>
                  <a mat-list-item routerLink="/admin/sale/order/progress/show" > <span [matBadge]="progressOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" >Orders in progress</span>  </a>
                  <a mat-list-item routerLink="/admin/sale/order/ready/show" > <span [matBadge]="readyOrders$ | async" matBadgeColor="warn"  matBadgeOverlap="false" >Ready orders</span>  </a>
              </mat-nav-list>
              <mat-nav-list>
                  <a mat-list-item routerLink="/admin/item/stoplist/show" > <span [matBadge]="stopList$ | async" matBadgeColor="warn"  matBadgeOverlap="false" >Stop list</span>  </a>
                  <a mat-list-item routerLink="/admin/sale/opened/show" > <span [matBadge]="openedInvoices$ | async" matBadgeColor="accent"  matBadgeOverlap="false" >Opened invoices</span>  </a>
                  <a mat-list-item routerLink="/admin/item/shoppinglist/show" > <span [matBadge]="shoppingList$ | async" matBadgeColor="warn"  matBadgeOverlap="false" >Shopping list</span>  </a>              
                </mat-nav-list>
              </ng-container>
              <ng-container *ngSwitchCase= "'waiter'">
                  <mat-nav-list>
                      <a mat-list-item routerLink="/waiter/sale/order/new/show" > <span [matBadge]="newOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" matBadgeSize="medium" >New orders</span>  </a>
                      <a mat-list-item routerLink="/waiter/sale/order/progress/show" > <span [matBadge]="progressOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" >Orders in progress</span>  </a>
                      <a mat-list-item routerLink="/waiter/sale/order/ready/show" > <span [matBadge]="readyOrders$ | async" matBadgeColor="warn"  matBadgeOverlap="false" >Ready orders</span>  </a>
                  </mat-nav-list>
                  <mat-nav-list>
                      <a mat-list-item routerLink="/waiter/sale/opened/show" > <span [matBadge]="openedInvoices$ | async" matBadgeColor="accent"  matBadgeOverlap="false" >Opened invoices</span>  </a>
                    </mat-nav-list>
                </ng-container>
                <ng-container *ngSwitchCase= "'chef'">
                    <mat-nav-list>
                        <a mat-list-item routerLink="/chef/sale/order/new/show" > <span [matBadge]="newOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" matBadgeSize="medium" >New orders</span>  </a>
                        <a mat-list-item routerLink="/chef/sale/order/progress/show" > <span [matBadge]="progressOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" >Orders in progress</span>  </a>
                        <a mat-list-item routerLink="/chef/sale/order/ready/show" > <span [matBadge]="readyOrders$ | async" matBadgeColor="warn"  matBadgeOverlap="false" >Ready orders</span>  </a>
                    </mat-nav-list>
                </ng-container>
                <ng-container *ngSwitchCase= "'barman'">
                    <mat-nav-list>
                        <a mat-list-item routerLink="/barman/sale/order/new/show" > <span [matBadge]="newOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" matBadgeSize="medium" >New orders</span>  </a>
                        <a mat-list-item routerLink="/barman/sale/order/progress/show" > <span [matBadge]="progressOrders$ | async" matBadgeColor="primary"  matBadgeOverlap="false" >Orders in progress</span>  </a>
                        <a mat-list-item routerLink="/barman/sale/order/ready/show" > <span [matBadge]="readyOrders$ | async" matBadgeColor="warn"  matBadgeOverlap="false" >Ready orders</span>  </a>
                    </mat-nav-list>
                </ng-container>
          </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container >
</div>